.conteiner{
    background-color: honeydew; 
}
div {
    border: 1px solid rgb(195, 192, 192);
}
.A{
    background-color: greenyellow;
    
}
.B{
    background-color: orangered;
}
.C{
    background-color: orchid;
}
.D{
    background-color: rgb(230, 177, 124);
}
.E{
    background-color: blue;
}
.F{
    background-color: greenyellow;
}